{% extends "myapp/base.html" %}

{% block title %}Chat{% endblock %}

{% block content %}
<h1>ChatGPT</h1>

{% if error_message %}
<div class="alert alert-danger">
{{ error_message }}
</div>
{% endif %}

{% if messages %}
    <h3>Historia rozmowy:</h3>
    {% for message in messages %}
        <p>{{ message.content }}</p>
        <hr>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.conversation_history }}
    {{ form.prompt }}
    <button type="submit">Wyślij</button>
</form>

{% if assistant_response %}
    <div class="alert alert-success">
        <p>Chat odpowiedział:</p>
        <p>{{ assistant_response }}</p>
    </div>
{% endif %}
{% if response %}
    <div class="alert alert-info">
        <p>Dane debug:</p>
        <p>{{ response }}</p>
    </div>
{% endif %}

{% endblock %}