{% extends "myapp/base.html" %}

{% block title %}Tabelki{% endblock %}

{% block content %}
{% if posts %}
    <table class="table     table-hover">
        <tr>
            <th>Lp
            <th>Tutuł
            <th>Treść
            <th>Data utworzenia
            <th colspan="2">Akcja
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}
            <td>{{ post.title }}
            <td>{{ post.content }}
            <td>{{ post.create_at }}
            <td><a href="{% url 'update_post' post.id %}" type="button" class="btn btn-outline-primary">Edytuj</a>
            <td><a href="{% url 'delete_post' post.id %}" type="button" class="btn btn-danger">Usuń</a>
        {% endfor %}
    </table>
    <a href="{% url 'create_post' %}">Dodaj post</a>
{% else %}
    <h4>Brak danych</h4>
{% endif %}
{% endblock %}